<!-- extend base layout -->
{% extends "client/base.html" %}
{% block content %}
<div class="main"> 
<div class="left-section">
	<center>
		<h2> Create Transaction</h2>
		<form action="{% url 'client:create_transaction' %}" method="post">
			{% csrf_token %}
			<textarea name="content" rows="4" cols="50"></textarea>
			<br />
			<input type="text" name="author" placeholder="Your name">
			<br/>
			<input type="submit" value="Post">
		</form>
	</center>
</div>
<div class="right-section">
	<center> <h2> Mined Blocks</h2> </center>
	{% if posts|length > 0 %}
	<div style="margin: 20px;">
		{% for post in posts %}
		<div class="post_box">
			<div class="post_box-header">
				<div class="post_box-options">
					<button class="option-btn">Reply</button>
				</div>
				<div style="background: rgb(0, 97, 146) none repeat scroll 0% 0%; box-shadow: rgb(0, 97, 146) 0px 0px 0px 2px;" class="post_box-avatar">
					{{post.author|make_list|first}}</div>
				<div class="name-header">{{ post.author }}</div>
				<div class="post_box-subtitle"> Posted at {{ post.timestamp }}</div>
			</div>
			<div>
				<div class="post_box-body">
					<p>{{post.content}}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %}
		<p>No Trasactions</p>
		{% endif %}
	</div>

</div>
</div>
{% endblock %}